<!DOCTPYE html>
<html>
    <head>
        <meta>
        <meta>
        <title>React App</title>
        <!-- Auth0Lock script -->
        <script src="//cdn.auth0.com/js/lock-9.1.min.js"></script>

        <!-- Setting the right viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />   
    </head>
    <body>
        <div id="app"></div>
        <script src="js/bundle.js"></script>
    </body>
</html>